@import './../../utils/variables';
@import './../../utils/placeholders';


.Details{
    width:100%;
    height:42rem;

    &__wrapper{
        height:100%;
        width:1170px;
        margin:0 auto;
        display:flex;
        justify-content: space-around;

        .Details__accordion{
            width:48%;
            height:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .Details__title{
                color:$footerTextColor;
                font-family: 'Play',sans-serif;
                font-size:1.94rem;
                line-height: 1.43rem;
                text-transform:uppercase;
                font-weight:400;
                margin: -3rem 0 2rem;
            }
        }
        .Details__desc{
            width:48%;
            height:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .Details__title{
                color:$footerTextColor;
                font-family: 'Play',sans-serif;
                font-size:1.94rem;
                line-height: 1.43rem;
                text-transform:uppercase;
                font-weight:400;
                margin-top:2.7rem;
            }
            .Details__paragraph{
                @extend %aboutText;
                color:#353535;
                text-align:justify;
            }
        }
    }
}

@media screen and (max-width:1420px){
    .Details{
        &__wrapper{
            .Details__accordion{
                .Details__title{
                    margin-top:-4rem;
                }
            }
        }
    }
}

@media screen and (max-width:1299px){
    .Details{
        &__wrapper{
            .Details__desc{
                .Details__title{
                    margin-top:1.5rem;
                }
            }
        }
    }
}
@media screen and (max-width:1199px){
    .Details{
        &__wrapper{
            width:90%;
            .Details__accordion{
                .Details__title{
                    margin-top:0;
                }
            }
        }
    }
}
@media screen and (max-width:992px){
    .Details{
        &__wrapper{
            .Details__accordion{
                .Details__title{
                    font-size:1.4rem;
                    line-height: 1.33rem;
                }
            }
            .Details__desc{
                .Details__title{
                    font-size:1.4rem;
                    line-height: 1.33rem;
                }
            }
        }
    }
}
@media screen and (max-width:768px){
    .Details{
        height:25rem;
        &__wrapper{
            display:block;
            .Details__accordion{
              display:none;
            }
            .Details__desc{
                width:90%;
                margin:0 auto;
                .Details__title{
                    text-align:center;
                    font-size:1.4rem;
                    line-height: 1.33rem;
                    margin-top:-3rem;
                }
                .Details__paragraph{
                    font-size:.77rem;
                    line-height:1.3rem;
                }
            }
        }
    }
}
@media screen and (max-width:600px){
    .Details{
        height:30rem;
        &__wrapper{
            .Details__desc{
                .Details__title{
                }
                .Details__paragraph{
                }
            }
        }
    }
}
@media screen and (max-width:499px){
    .Details{
        height:30rem;
        &__wrapper{
            .Details__desc{
                .Details__title{
                    margin-top:0;
                }
                .Details__paragraph{
                }
            }
        }
    }
}
@media screen and (max-width:420px){
    .Details{
        height:35rem;
        &__wrapper{
            .Details__desc{
                .Details__title{
                    margin-top:2rem;
                }
                .Details__paragraph{
                }
            }
        }
    }
}