@import './../../../utils/variables';

.wrapperIcon{
    display:flex;
    height:100%;
    width:6.25rem;
    justify-content: space-around;
    align-items: center;
        a{
            color:$fontColor;
            &:last-child{
               font-size:1.25rem;
            }
        }
}
@media screen and( max-width:768px){
   .wrapperIcon{
       display:none;
   }
}