.main__carousel{

    .carousel__item1{
        background: url('./../../assets/rawpixel-565456-unsplash-min.jpg') no-repeat;
        background-size:cover;
    }
    .carousel__item2{
        background: url('./../../assets/rawpixel-574844-unsplash-min.jpg') no-repeat;
        background-size:cover;
    }
    .carousel__item3{
        background: url('./../../assets/rawpixel-684806-unsplash-min.jpg') no-repeat;
        background-size:cover;
    }
}