%footerSpanIcon{
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size:.77rem;
    line-height:1.35rem;
    margin:0;
    letter-spacing:0.28px;
    margin-left:20px;
    position:relative;
}
%footerSpanIconBefore{
    content:'';
    width:15px;
    height:15px;
    padding-right:20px;
    position:absolute;
    top: 6px;
    left:-20px;
    padding-right:5px;
}
%footerText{
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size:.77rem;
    line-height:1.35rem;
    margin:0;
}
%textOnBlueBar{
    font-family: 'Play',sans-serif;
    color:#fff;
    font-weight:400;
    text-transform:uppercase;
}

%aboutText{
    color:$mainTextColor;
    font-family: "Open Sans",sans-serif;
    text-align: center;
    font-weight:400;
    line-height:1.43rem;
    font-size:.83rem;
}

@mixin accordionBefore{
    content:'';
    width:3.44rem;
    height:3.44rem;;
    display: inline-block;
    position:absolute;
    background-repeat: no-repeat;
    background-position:center;
    margin-right:10px;
}
%inputField{
    color:$placeholderColor;
    font-family:$secondFont;
    font-size:.77rem;
    line-height:1.72rem;
}