%footerSpanIcon{
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size:.77rem;
    line-height:1.35rem;
    margin:0;
    letter-spacing:0.28px;
    margin-left:20px;
    position:relative;
}
%footerSpanIconBefore{
    content:'';
    width:15px;
    height:15px;
    padding-right:20px;
    position:absolute;
    top: 6px;
    left:-20px;
    padding-right:5px;
}
%footerText{
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size:.77rem;
    line-height:1.35rem;
    margin:0;
}