$mainColor: #fffdfd;
$fontColor:#4b4b4b;
$footerColor:#161616;
$bottomDivColor : #000000;
$footerTextColor:#22a7f0;
$defaultThemeColor:#26a1e4;
$placeholderColor: #575757;
$mainCarouselGradient:linear-gradient(90deg, rgba(71, 140, 145, 0.5) 0%, rgba(51, 159, 190, 0.5) 35%, rgba(19, 141, 165, 0.8) 100%);
$mainCarouselTextColor: #fff;
$mainTextColor: #fff;
$mainFont:'Play';
$secondFont:'Open Sans';
$containerWidth:1170px;