@import './../../utils/variables';

.testimonial{
    width:100%;
    height:38rem;
    .testimonial__wrapper{
        width:1170px;
        margin:0 auto;
        height:100%;
        display:flex;
        align-items:center;
        justify-content: space-between;
        .testimonial__picture{
            background:url('./../../assets/rawpixel-678092-unsplash-min.jpg') no-repeat;
            background-size:cover;
            width:47%;
            height:80.4%;
        }
        .testimonial__desc{
            width:47%;
            height:80.4%;
            .testimonial__title{
                color:$footerTextColor;
                font-family: $mainFont;
                font-size:1.94rem;
                line-height:1.33rem;
            }
            .testimonial__paragraph {
                color:$fontColor;
                font-size:.77rem;
                font-family:$secondFont;
                line-height:1.43rem;
                text-align:justify;
            }
            .testimonial__button{
                background:$footerTextColor;
                width:7.33rem;
                height:2.61rem;
                border:1px solid $mainTextColor;
                outline:0;
                margin-top:1rem;
                cursor:pointer;
                a{
                    text-decoration:none;
                    text-transform:uppercase;
                    color:$mainTextColor;
                    font-family: $secondFont;
                    font-size:.83rem;
                    line-height:1.43rem;
                }
                &:hover{
                    background: $mainTextColor;
                    border:1px solid $footerTextColor;
                    transition:all .3s ease-in-out;
                }
                &:hover>a{
                    color:$footerTextColor;
                }
            }
        }
    }
}

@media screen and (max-width:1199px){
    .testimonial{
        height:30rem;
        .testimonial__wrapper{
            width:960px;
            .testimonial__picture{
                height:83.33%;
            }
            .testimonial__desc{
                height:83.33%;
                .testimonial__title{
                    font-size:1.5rem;
                    line-height:1.23rem;
                    margin-bottom:1rem;
                }
                .testimonial__paragraph{
                    line-height:1rem;
                    margin-bottom:1rem;
                }
                .testimonial__button{
                    margin-top:-5px;
                }
            }
        }
    }
}
@media screen and (max-width:992px){
    .testimonial{
        height:25rem;
        .testimonial__wrapper{
            width:730px;
            .testimonial__picture{
                height:76.22%;
            }
            .testimonial__desc{
                height:76.22%;
                .testimonial__title{
                    font-size:1.3rem;
                    line-height:1.13rem;
                    margin-bottom:1rem;
                }
                .testimonial__paragraph{
                    line-height:1.3rem;
                    margin-bottom:1rem;
                }
                .testimonial__paragraph:nth-child(2){
                    display:none;
                }
                .testimonial__button{
                    margin-top:.5rem;
                }
            }
        }
    }
}
@media screen and (max-width:768px){
    .testimonial{
        height:40rem;

        .testimonial__wrapper{
            display:block;
            width:80%;
            .testimonial__picture{
                width:100%;
                height:25%;
                margin-top:2rem;
            }
            .testimonial__desc{
                width:100%;
                .testimonial__title{
                    text-align:center;
                    font-size:1.5rem;
                    line-height:1.23rem;
                    margin-top:2rem;
                }
                .testimonial__paragraph:nth-child(2){
                    display:block;
                }
                .testimonial__paragraph{
                    line-height:1.3rem;
                    margin-bottom:1rem;
                }
                .testimonial__button{
                    position:relative;
                    bottom:0;
                    left:50%;
                    transform:translate(-50%,0%);
                }
            }
        }
    }
}
@media screen and (max-width:699px){
    .testimonial{
        height:45rem;
    }
}
@media screen and (max-width:599px){
    .testimonial{
        height:50rem;
    }
}
@media screen and (max-width:543px){
    .testimonial{
        height:53rem;
    }
}
@media screen and (max-width:485px){
    .testimonial{
        height:55rem;
    }
}
@media screen and (max-width:440px){
    .testimonial{
        height:57rem;
    }
}
@media screen and (max-width:385px){
    .testimonial{
        height:60rem;
    }
}
@media screen and (max-width:370px){
    .testimonial{
        height:65rem;
    }
}
@media screen and (max-width:340px){
    .testimonial{
        height:67rem;
    }
}
@media screen and (max-width:320px){
    .testimonial{
        height:70rem;
    }
}